[Unit]
Description=Periodically preserve the current Wangka system time

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=wangka-timekeeper-save.service

[Install]
WantedBy=timers.target
